.satoshi-wrapper {
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 92px;
    height: 92px;
    transition: transform 0.5s ease;
  }
  img:hover {
    transform: scale(1.1);
  }
}
