<div class="certs-wrapper">
  <div class="header-text">
    📖 I have some&nbsp;<span class="beautify">certifications.</span>&nbsp;
  </div>
  <div class="certifications">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.credly.com/badges/acf8669c-30a2-4ba0-8532-21d8345f7087"
    >
      <img src="../../assets/cloud_practitioner.png" />
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.credly.com/badges/bb3f0207-2309-495d-8e2d-3f8cda6573ab"
    >
      <img src="../../assets/solutions_architect.png" />
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://computerscience.missouristate.edu/webprogramming/"
    >
      <img src="../../assets/mo_state.png" />
    </a>
  </div>
</div>
