.footer-wrapper {
  font-size: 125%;
  margin: 2rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .angular {
    width: 20px;
    height: 20px;
  }
  .aws {
    width: 20px;
    height: 20px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
