.languages-wrapper {
  .header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 125%;
    margin: 1rem;
  }
  .images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    .nav {
      margin: 3rem;
      font-weight: 900;
      cursor: pointer;
    }
    img {
      width: 96px;
      height: 96px;
      animation: fadeIn 1s;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
