.intro-wrapper {
  display: flex;
  font-size: 125%;
  margin: 2rem 1rem 1rem 1rem;
  .hello-text {
    width: 66%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .changing-text {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span {
      width: fit-content;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      white-space: nowrap; /* Keeps the content on a single line */
      border-right: 0.15em solid rgba(242, 169, 0); /* The typwriter cursor */
      animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
    }
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  33% {
    width: 100%;
  }
  66% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
