.github-wrapper {
  .header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 125%;
    margin: 1rem 1rem 2rem 1rem;
  }
  .github-image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 96px;
      height: 96px;
      transition: transform 0.5s ease;
    }
    img:hover {
      transform: scale(1.1);
    }
  }
}
