<div class="app-wrapper">
  <div class="left-spacer"></div>
  <div class="right-spacer"></div>
  <div class="intro">
    <app-intro></app-intro>
  </div>
  <div class="picture">
    <app-picture></app-picture>
  </div>
  <div class="languages">
    <app-languages></app-languages>
  </div>
  <div class="certs">
    <app-certs></app-certs>
  </div>
  <div class="github debug">
    <app-github></app-github>
  </div>
  <div class="thanks debug">
    <app-thanks></app-thanks>
  </div>
  <div class="snake debug">
    <app-snake></app-snake>
  </div>
  <div class="footer debug">
    <app-footer></app-footer>
  </div>
</div>
