<div class="app-wrapper">
  <div class="left-spacer"></div>
  <div class="logo-div">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://bitcoin.org/bitcoin.pdf"
      ><img src="../assets/bitcoin.svg"
    /></a>
  </div>
  <div class="intro-div">
    <h3>
      👋 I'm Seth, a
      <span *ngIf="currentHeaderIndex == 0" class="fade-in-text">{{
        currentHeaderOption
      }}</span>
      <span *ngIf="currentHeaderIndex == 1" class="fade-in-text">{{
        currentHeaderOption
      }}</span>
      <span *ngIf="currentHeaderIndex == 2" class="fade-in-text">{{
        currentHeaderOption
      }}</span>
      <span *ngIf="currentHeaderIndex == 3" class="fade-in-text">{{
        currentHeaderOption
      }}</span>
      from Joplin, Missouri.
    </h3>
  </div>
  <div class="right-spacer"></div>
</div>
