.app-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "left-spacer intro right-spacer"
    "left-spacer picture right-spacer"
    "left-spacer languages right-spacer"
    "left-spacer certs right-spacer"
    "left-spacer github right-spacer"
    "left-spacer thanks right-spacer"
    "left-spacer snake right-spacer"
    "left-spacer footer right-spacer"
    "left-spacer satoshi right-spacer";

  .intro {
    grid-area: intro;
  }

  .picture {
    grid-area: picture;
  }

  .languages {
    grid-area: languages;
  }

  .certs {
    grid-area: certs;
  }

  .github {
    grid-area: github;
  }

  .thanks {
    grid-area: thanks;
  }

  .snake {
    grid-area: snake;
  }

  .footer {
    grid-area: footer;
  }

  .satoshi {
    grid-area: satoshi;
  }

  .left-spacer {
    grid-area: left-spacer;
  }

  .right-spacer {
    grid-area: right-spacer;
  }
}

@media (max-width: 600px) {
  .app-wrapper {
    grid-template-columns: 0fr 1fr 0fr;
  }
}
